#mySidenav a
{
	position :absolute;
	left:-12px;
	transition:0.3s;
	padding:15px;
	width:100px;
	text-decoration:none;
	font-size:16px;
	color:white;
	border-radius:0 5px 5px 0;
	margin-top:150px;
}
	
.btn
{
	background-color: #555;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 850px;
}

#mySidenav a:hover
{
	left:0;	
}


#about
{
	top:20px;
	background-color:#4CAF50;
}


#blog
{
	top:100px;
	background-color:#2196F3;
}


#projects
{
	top:180px;
	background-color:#f44336;
}


#contact
{
	top:260px;
	background-color:#555;
}


h2
{
	color: green;
	font-size: 40px;
}

p
{
	color: red;
	margin-left: 70px;
	font-size: 30px;
	font-style: italic;
	text-decoration: underline;
}

