body {
  font-family: 'lato', sans-serif;
}
h1 {
    text-align: center;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.cart-buttons, button{
    border: none;
    margin: 20px;
    padding: 24px;
    float: right;
    transform: translateX(-175px);
}
button > a {
    text-decoration: none;
    color: white;
}
button > a:active {
    color: white;
}
.continue-shopping {
    background-color: #888888;
    color: white;
    font-size: 22px;
}
.checkout{
    background-color: #c19e32;
    color: white;
    font-size: 22px;
}
.checkout:hover {
    background-color: #d9b23c;
}

/* -------------------Responsive Table Style(Using li)---------------------- */

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
small {
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    display: none;
}

.responsive-table > li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table > li i {
	font-size: 32px;
    }

.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 30%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
 .col-5 {
    flex-basis: 10%;
  }
  
 @media all and (max-width: 767px) {
    ul > .table-header {
      display: none;
    }
    h2 {
	display: none;
    }
    small {
	display: block;
    }
    ul > .table-row{
	display: block;
      
    }
    li  > .col {
      
      flex-basis: 100%;
      
    }
    .table-row  > .col {
      display: flex;
      padding: 10px 0;
    }
    .col::before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;	
    }
    .cart-buttons{
      border: none;
      margin: 20px;
      padding: 24px;
      float: left;
      transform: translateX(175px);
    }
  }
}

 
