body {
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    background-image: url(bg3.jpg);
    background-size: cover;
}

section{
    /*! width: 100%; */
    /*! height: 150vh; */
    /* background: url(bg.jpg); */
    /* background-size: cover; */
}

.menu{
    position: relative;
    width: 100%;
    background: rgba(255,255,255,0.5);
    padding: 0 100px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height: 85px;
    /*! margin-inline-start: 100px; */
}

.menu img{
    float: left;
    width: 84px;
}
nav{
    position: relative;
    float: right;
    /*! */
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 33px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #8cc63f;
    color: #fff;
}

nav ul li ul {
    display: block;
    background: rgba(255,255,255,0.5);
    min-width: 250px;
    postion: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateY(40px);
}
nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
nav ul li ul li a {
    padding: 10px;
}


/*-----------------------------------------------------------------------------*/

* {
    box-siing: border-box;
}

.mySlides{
    display: none;
}
img {
    vertical-align: middle;
}

/* Slideshow Container */
.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

/* Next and Previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 30px;
    margin-left: 20px;
    margin-right:20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 400px;
    width: 100%;
    text-align: center;
}
/* styles for the dot navigator of lsides */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: backgrund-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4}
    to { opacity: 1}
}

/* on smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
	font-size: 11px;
    }
}

.shift {
    max-width: 1100px;
    position: relative;
    margin: auto;
    /*! margin-top:200px; */
}

.feed, .feed:link, .feed:visited {
    background-color:#454545;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.feed:hover, .feed:active {
    background-color: #787878;
}

.log {
    margin-left: 170px;
    margin-top: 20px;
}

footer {
    margin: 1px 1px 0 1px;
    padding: 0;
    border: none;
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    padding: 12px;
    font-size: 12px;
}
footer p {
    padding:20px;
}

footer ul li {
    font-size: 8px;
}

